{% extends "Djapp/base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
        <h3><a href="{% url 'Djapp:author_detail' author.id %}">{{author.last_name}}</a></h3>
        <p>Authors first name: {{author.first_name}} </p>
        <p>Date of birth: {{author.date_of_birth}}</p>
        <p>Date of death: {{author.date_of_death}}</p>
        <p>Id: {{author.pk}}</p>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %}
{% endblock %}
